name: Build and Deploy Web Artifacts

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build-pages:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install pnpm
        uses: pnpm/action-setup@v3
        id: pnpm-install
        with:
          version: 7
          run_install: false

      - name: Get pnpm store directory
        id: pnpm-cache
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

        # https://github.com/pnpm/action-setup#use-cache-to-reduce-installation-time
      - name: Setup pnpm cache
        uses: actions/cache@v4
        with:
          path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('8x2/pnpm-lock.yaml', 'web-editor/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      # --- Build 8x2 ---
      - name: Install dependencies (8x2)
        run: pnpm install
        working-directory: 8x2

      - name: Build 8x2
        run: pnpm run build
        working-directory: 8x2

      # --- Build web-editor ---
      - name: Install dependencies (web-editor)
        run: pnpm install
        working-directory: web-editor

      - name: Build web-editor
        run: pnpm run build
        working-directory: web-editor

      # --- Collect artifacts ---
      - name: Collect build artifacts
        run: |
          mkdir dist
          cp -R ./8x2/dist ./dist/8x2
          cp -R ./web-editor/dist ./dist/web-editor
          cp -R ./OMX-27 ./dist/OMX-27
          cp ./index.html ./dist

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./dist

  deploy-pages:
    if: github.event_name != 'pull_request'

    environment:
      name: github-pages

    runs-on: ubuntu-latest
    needs: build-pages

    # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
    permissions:
      pages: write # to deploy to Pages
      id-token: write # to verify the deployment originates from an appropriate source

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
